@CHARSET "UTF-8";

h1.h1 {
	color: #000;
}

h1.section {
	color: #333;
	border-bottom: 2px solid #333;
	margin: 5px 0 15px;
}

div.section {
	border: 1px solid #CCC;
	padding: 30px;
	margin: 0 0 30px 0;
}

div.section h2 {}