@CHARSET "UTF-8";

aside .module {
	border: 1px solid #CCC;
	background-color: #D8D8D8;
	margin-bottom: 10px;
}

aside .module h3.mod_heading {
	color: #a2a2a2;
}

aside .module .mod_body {
	padding: 10px;
}